* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: lightsteelblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo {
    height: 150px;
    width: 125px;
  }
  
  .titulo {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .formulario {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  form p {
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  form button[type="submit"],
  form input[type="reset"] {
    padding: 8px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: lightsteelblue;
    color: white;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover,
  form input[type="reset"]:hover {
    background-color: steelblue;
  }
  
  /* Animación login */
  .slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s;
  }
  
  @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
      transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
      transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  /* Fin animación login */
  
    